@media screen and (max-width: 1080px){
    
    body{
        font-size: 1rem;
    }
    
    .header{
        font-size: 1.5rem;
    }
    
    .section{
        padding: 3rem 1rem;
    }

    .sec1{
        margin-bottom: 0;

        h3{
            font-size: 1.5rem;
        }

        p{
            font-size: 1rem;
        }
    }

    .sec2{
        
        .projects-container{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 1rem;
            font-size: 1rem;
        }
        
        img{
            width: 100%;
            margin: 1.5rem auto;
        }
    }
}